*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 20px;
}

.title {
  text-align: center;
  color: #333;
  font-size: 28px;
  font-weight: bold;
}

table {
  width: 70%;
  border-collapse: collapse;
  margin: 20px auto 0;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f5f5f5;
}

img {
  width: 80px;
  height: 80px;
}

.empty-cart {
  text-align: center;
  color: #999;
}
#quantity {
  max-width: 50px;
}

#total_payment{
  display: flex;
  justify-content: flex-end;
  margin: 20px 0px;
  padding-right: 150px;
  font-weight: bold;
}

#tieptucmuasam{
  text-decoration: none;
 color: #fff;
 display: block;
 width: 160px;
 padding: 10px 16px;
 margin-top: 20px;
 margin-left: 20px;
 background-color: #136AED;;
 text-align: center;
 border-radius: 20px 0px;
}

#tieptucmuasam:hover{
  font-weight: bold;
  background-color: #103c7f;
}

.fa-solid{
  font-size: 24px;
}

#update_cart {
  float: right;
  margin-right: 160px;
  width: 200px;
    height: 30px;
    font-size: 18px;
}
.fa-trash-can{
  color: #333;
}
.fa-trash-can:hover{
  color: #d0011b;
}

.checkout_btn{
  background-color: #4CAF50;
  border: #4CAF50 solid 1px;
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: fixed;
  top: 40px;
  right: 40px;
  cursor: pointer;
  border-radius: 5px;
}


.checkout_btn:hover {
  background-color: #fff;
  color: #4CAF50;
  transition: 0.3s;
}



form{
  min-height: 250px;
}