body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

h1 {
  text-align: center;
  margin-top: 20px;
}
.name_price {
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product_detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
}

.product_detail .product_image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product_detail .product_name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.product_detail .product_price {
  font-size: 20px;
  color: red;
  font-weight: bold;
}

.quantity {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.quantity input {
  width: 50px;
  text-align: center;
  padding: 5px;
  font-size: 16px;
}

.quantity button:hover {
  background-color: #45a049;
}

.out-of-stock {
  font-size: 18px;
  color: red;
  margin-top: 10px;
}

#addToCart {
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 12px;
  border: #2196f3   solid 1px;

}

#addToCart:hover {
  background-color: #ffffff;
  color: #136AED;
  border: #136AED solid 1px;
}


.btn_gr{
  margin-top: 12px;
  width: 350px;
  display: flex;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.product_detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
}

.product_detail .product_image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}
.product_name {
  max-width: 400px;
  font-weight: bold;
  margin-bottom: 5px;
}
.product_detail .product_name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.product_detail .product_price {
  font-size: 24px;
  color: red;
}




.out-of-stock {
  font-size: 18px;
  color: red;
  margin-top: 10px;
}

.title_product_detail{
  display: flex;
  align-items: center;
  justify-content: space-around
}
.fa-solid {
  color: #d0011b;
  font-size: 30px;
}
.mid_title{
  margin: 20px 50px;
  font-size: 30px;
}

#tieptucmua{
  text-decoration: none;
  color: #fff;
  display: block;
  width: 160px;
  padding: 10px 16px;
  background-color: #136AED;;
  text-align: center;
  border-radius: 20px 0px;
}

#tieptucmua:hover{
  font-weight: bold;
  background-color: #103c7f;
}
.quantity {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.quantity input {
  width: 50px;
  text-align: center;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.quantity button {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 5px;
}

#decrement, #increment{
  width: 30px;
  height: 30px;
}

#decrement:hover, #increment:hover{
  background-color: #333;
  color: #fff;
}

#decrement{
  margin-right: -1px;
}

#increment{
  margin-left: -1px;
}

.fa-left-long::before {
  content: "\f30a";
  margin-right: 10px;
}
